/* Reset de estilos para o corpo do documento */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #000; /* Preto */
    color: #fff; /* Branco */
}


/* Estilos para o cabeçalho */
header {
    background-color: #000000; /* Vinho escuro */
    text-align: center;
    padding: 4vh;
    display: flex;
    flex-direction: column; /* Ajuste a direção para coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    height: 2vh; /* Define a altura para ocupar toda a altura da viewport */
    
}


/* Estilos para o botão de voltar */
.back-button {
    background-color: #690909; /* Vinho mais claro */
    color: #fff; /* Branco */
    padding: 2vh;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 1vh; /* Adiciona margem inferior para espaçamento */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.back-button:hover {
    background-color: #c70039; /* Vinho mais escuro */
}


/* Estilos para a informação do ebook */
.ebook-info {
    flex-grow: 1;
}

/* Estilos para os títulos */
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #310101; /* Branco */
    background-color: #414141; /* Vinho mais claro */
    border: 2px solid #222222; /* Borda cinza */
    padding: 10px; /* Adiciona um espaçamento interno maior */
    margin: 2vh 0; /* Remove margens padrão */
    border-radius: 10px;
    text-align: center;
    

}


/* Estilos para a lista não ordenada */
.lista {
    display: flex;
    list-style: none;
    width: 75%;
    margin-top: 2rem ; /* Cria uma margem do topo */
    padding: 0;
    flex-wrap: wrap; /* permite que os itens quebrem linha */
    justify-content: flex-start; /* alinha os itens no inicio */
    text-align: center;
    gap: 5vw; /* Adiciona um espaçamento entre os itens */
}

/* Estilos para os itens da lista */
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:start;
    padding: 5vh; /* Espaçamento interno para cada item usando viewport height */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s ease-in-out;
    width: 100%; /* 60% da largura do contêiner pai */
    height: 100%; /* 60% da altura da viewport */
    background-color: #444; /* Fundo cinza */
    margin: auto; /* Adiciona margens automáticas para centralizar o elemento */
    direction: ltr; /* Define a direção do texto como da esquerda para a direita */
    line-height: 2; /* Espaçamento entre as linhas */
    box-shadow: 0 0 2vw #690909, 0 0 4vw #690909, 0 0 6vw #690909; /* Adiciona sombras neon vermelhas adaptáveis ao redor do cards usando vw */}

.cards > * {
    margin: 2vh 0; /* Adapte conforme necessário para o espaçamento entre os elementos dentro dos cards usando viewport height */
    font-size: 1,5vw; /* Tamanho da fonte usando viewport height */
    font-weight: bold; /* Fonte em negrito */
    color: rgb(53, 4, 4); /* Cor do texto */
}


.cards:hover {
    background-color: #333; /* Cor de fundo mais escura no hover */
}
.cards > ul {
    list-style-type: none; /* Remove marcadores de lista padrão */
    padding: 0; /* Remove o preenchimento padrão da lista */
}



.cards > ul > li::before {
    content: "•"; /* Adiciona marcadores personalizados */
    color: #000000; /* Cor do marcador */
    margin-right: 1vw;/* Espaçamento entre o marcador e o texto */
    font-size: 1em;
    text-shadow: 0 0 1vw #000000, 0 0 2vw #000000, 0 0 3vw #000000; /* Adiciona sombras neon pretas ao marcador usando vw */
    
}



.conteudo-ebook{
    justify-content: center; /* alinha os itens no centro */
    align-items: center ; /*alinha os itens no centro */
    display: flex;
    height: auto; /* altura automática (cresce de acordo com a quantidade de conteudo)*/
}
.cards > ul > li .highlight {
    color: #ffc107; /* Cor da palavra destacada */
    font-weight: bold; /* Peso da fonte em negrito */
    text-shadow: 0 0 0.5rem #ffc107, 0 0 1rem #ffc107, 0 0 1.5rem #ffc107; } /* Adiciona sombras neon usando rem *
